<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.show.series.httpnetwork">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".activity.LoadMoreActivity"
            android:label="@string/load_more" />

        <activity android:name=".activity.ScreenshotShareActivity" />
        <activity android:name=".activity.CustomActivity" />
        <activity android:name=".activity.data.SqliteOperateActivity" />
        <activity android:name=".activity.data.DisplayContact" />

        <activity android:name=".activity.first.FirstSqliteActivity" />
        <activity android:name=".activity.async.AsncyTaskTestActivity" />

        <activity android:name=".activity.bus.TestEventBusActivity" />
        <activity android:name=".activity.bus.EventBusComplexActivity" />

        <activity android:name=".activity.receiver.TestBroadcastActivity" />

        <activity android:name=".activity.async.TestHandleActivity"/>
        <activity android:name=".activity.Custom.TextApartActivity"/>


        <receiver android:name=".activity.receiver.MyIntentReceiver">
            <intent-filter android:label="@string/app_name">
                <action android:name="com.send.ACTION_SEND"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
